@model TesterAddRequest

@{
    ViewBag.Title = "Create Tester";
}

<div class="container-form-wrapper">
    <div class="container-form-create">
        <div class="title-box">
            <h2 class="container-form-create__heading">Create Tester</h2>
            <a asp-controller="Testers" asp-action="Index" class="button button--secondary">Back to all Testers</a>
        </div>
        <form asp-controller="Testers" asp-action="Create" class="form-create" method="post">

            <!-- Name -->
            <label for="TesterName">Name</label>
            <input asp-for="TesterName">

            <!-- Email -->
            <label for="Email">Email</label>
            <input asp-for="Email">

            <!-- BirthDate -->
            <label for="BirthDate">Date of birth</label>
            <input asp-for="BirthDate">

            <!-- Gender -->
            <label>Gender</label>
            <div class="radio-group">
                <div class="radio-group__inner">
                    @{
                        var genders = Enum.GetNames(typeof(GenderOptions));
                    }
                    @foreach (var gender in genders)
                    {
                        <input type="radio" asp-for="Gender" value="@gender">
                        <label for="@gender">@gender</label>
                    }
                </div>
            </div>

            <!-- DevStream -->
            <label for="DevStreamId">Stream</label>
            <select asp-for="DevStreamId">
                <option value="">Select a stream</option>
                @foreach (DevStreamResponse stream in ViewBag.DevStreams)
                {
                    <option value="@stream.DevStreamId">@stream.DevStreamName</option>
                }
            </select>

            <!-- Position -->
            <label for="Position">Position</label>
            <input asp-for="Position">

            <!-- Skills -->
            <label for="Skills">Skills</label>
            <input asp-for="Skills">

            <!-- Months of work experience -->
            <label for="MonthsOfWorkExperience">Months of work experience</label>
            <input asp-for="MonthsOfWorkExperience" min="0">

            <button class="form-create__btn form-create__btn--blue" type="submit">Submit</button>
            @if (ViewBag.Errors != null)
            {
                <ul class="error-list">
                    @foreach (string error in ViewBag.Errors)
                    {
                        <li>@error</li>
                    }
                </ul>
            }
        </form>
    </div>
</div>