@model IEnumerable<TesterResponse>

@{
    ViewBag.Title = "Testers";
}

<h2>Testers</h2>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Birth Date</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Stream</th>
        <th>Position</th>
        <th>Skills</th>
        <th>Months of work experience</th>
        <th>Has mobile device experience</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var tester in Model)
    {
        <tr>
            <td>@tester.TesterName</td>
            <td>@tester.Email</td>
            <td>@tester.BirthDate?.ToString("dd MMMM yyyy")</td>
            <td>@tester.Age</td>
            <td>@tester.Gender</td>
            <td>@tester.DevStream</td>
            <td>@tester.Position</td>
            <td>@tester.Skills</td>
            <td>@tester.MonthsOfWorkExperience</td>
            <td>@tester.HasMobileDeviceExperience</td>
        </tr>
    }
    </tbody>
</table>