@using Services.Helpers
@model IEnumerable<TesterResponse>

@{
    ViewBag.Title = "Testers";
}

@* <div class=""> *@
@*     <div class=""> *@
@*         <select name="" id="" class="from"></select> *@
@*     </div> *@
@*      *@
@*     <div class=""> *@
@*         <input type="search" name="" id="" class="" placeholder="Search"> *@
@*     </div> *@
@* </div> *@


<div class="container">
    <h2 class="heading heading--dark">QA Engineers</h2>
    <form action="~/testers/index" method="get" class="form">
        <div class="form-container">
            <div class="form-container__inner">
                <select name="searchBy" id="" class="form-container__select">
                    @foreach (var field in ViewBag.SearchFields)
                    {
                        <option
                            value="@field.Key" @(field.Key == ViewBag.CurrentSearchBy ? "selected=\"selected\"" : "")>
                            @field.Value
                        </option>
                    }
                    }
                </select>
                <input
                    class="form-container__search"
                    type="search" name="searchString"
                    id=""
                    placeholder="Search"
                    value="@ViewBag.CurrentSearchString">
                <input class="form-container__submit form-container__submit--violet" type="submit" value="Search">
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>

                @if (ViewBag.CurrentSortBy == nameof(TesterResponse.TesterName) &&
                     ViewBag.CurrentSortOrder == SortOrderOptions.Asc.ToString())
                {
                    <th class="table__name">
                        <a class="table__link"
                           href="~/testers/index?searchBy=@ViewBag.CurrentSearchBy&searchString=@ViewBag.CurrentSearchString&sortBy=@nameof(TesterResponse.TesterName)&sortOrder=@nameof(SortOrderOptions.Desc)">
                            Name
                        </a>
                    </th>
                }

                else if (ViewBag.CurrentSortBy == nameof(TesterResponse.TesterName) &&
                         ViewBag.CurrentSortOrder == SortOrderOptions.Desc.ToString())
                {
                    <th class="table__name">
                        <a class="table__link"
                           href="~/testers/index?searchBy=@ViewBag.CurrentSearchBy&searchString=@ViewBag.CurrentSearchString&sortBy=@nameof(TesterResponse.TesterName)&sortOrder=@nameof(SortOrderOptions.Asc)">
                            Name
                        </a>
                    </th>
                }

                else
                {
                    <th class="table__name">
                        <a class="table__link"
                           href="~/testers/index?searchBy=@ViewBag.CurrentSearchBy&searchString=@ViewBag.CurrentSearchString&sortBy=@nameof(TesterResponse.TesterName)&sortOrder=@nameof(SortOrderOptions.Asc)">
                            Name
                        </a>
                    </th>
                }

                <th class="table__email">Email</th>
                <th class="table__age">Age</th>
                <th class="table__gender">Gender</th>
                <th class="table__devstream">Stream</th>
                <th class="table__position">Position</th>
                <th class="table__skills">Skills</th>
                <th class="table__experience">Work Experience</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var tester in Model)
            {
                <tr>
                    <td>@tester.TesterName</td>
                    <td>@tester.Email</td>
                    <td>@tester.Age</td>
                    <td>@tester.Gender</td>
                    <td>@tester.DevStream</td>
                    <td>@tester.Position</td>
                    <td>@tester.Skills</td>
                    <td>@ConversionHelper.ConvertMonthsToYears(tester.MonthsOfWorkExperience!.Value)</td>
                </tr>
            }
            </tbody>
        </table>
    </form>
</div>