@model IEnumerable<TesterResponse>

@{
    ViewBag.Title = "Testers";

    string ConvertMonthsToYears(int? totalMonths)
    {
        if (totalMonths is null) return "Just started";
        var years = totalMonths / 12;
        var months = totalMonths % 12;
        return $"{(years < 1 ? "" : years)}{(months < 1 ? "" : $"{(years >= 1 ? "." : " ")}" + months)}";
    }
}


<div class="container">
    <h2 class="heading heading--dark">QA Engineers</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Stream</th>
            <th>Position</th>
            <th>Skills</th>
            <th>Experience</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var tester in Model)
        {
            <tr>
                <td>@tester.TesterName</td>
                <td>@tester.Email</td>
                <td>@tester.Age</td>
                <td>@tester.Gender</td>
                <td>@tester.DevStream</td>
                <td>@tester.Position</td>
                <td>@tester.Skills</td>
                <td>@ConvertMonthsToYears(tester.MonthsOfWorkExperience!.Value)</td>
            </tr>
        }
        </tbody>
    </table>
</div>